<template>
  <Transition name="fade">
    <div
      v-if="isVisible"
      class="rounded-md flex items-center alert-wrap p-4 absolute right-0 mr-6 mb-6 bottom-0"
      :class="extraClass"
    >
      <div class="flex items-center">
        <div class="ml-3 flex items-center">
          <p
            class="text-sm mr-5"
            :class="textClass"
          >
            {{ message }}
          </p>
          <p
            class="text-sm"
            @click="isVisible = false"
          >
            <io-icon
              icon="x-circle"
              class="fill-current h-4 w-4"
              :class="textClass"
            />
          </p>
        </div>
      </div>
    </div>
  </Transition>
</template>

<script>
export default {
  name: 'IoAlert',

  data() {
    return {
      isVisible: false,
      textClass: 'text-green-400',
    };
  },

  mounted() {
    window.EventBus.$on('open', this.open);

    setTimeout(() => {
      this.isVisible = false;
    }, 5000);
  },

  methods: {
    close() {
      this.isVisible = false;
      this.$emit('close');
    },

    open(params) {
      this.isVisible = true;

      if (typeof params !== 'object') {
        this.message = params;
        this.extraClass = 'bg-green-100';
      }
    },
  },
};
</script>

<style scoped>
    .alert-wrap {
        right: 20px;
    }
</style>
