<template>
  <svg
    class="stroke-2 inline-block h-4 w-4"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
    stroke-linecap="round"
    stroke-linejoin="round"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g v-html="icons[name]" />
  </svg>
</template>

<script>
import featherIcons from 'feather-icons/dist/icons.json';

export default {
  name: 'IoIcon',

  props: {
    name: {
      required: true,
      type: String,
    },
  },

  data() {
    return {
      icons: featherIcons,
    };
  },
};
</script>
