<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="fixed inset-0 w-full h-screen flex items-center justify-center bg-modal-700"
    >
      <div class="max-h-screen w-full max-w-2xl bg-white shadow-lg rounded-lg">
        <div class="flex items-center border-b p-3">
          <div class="text-red-500 font-semibold">
            {{ title }}
          </div>

          <button
            v-if="isClose"
            aria-label="close"
            type="button"
            class="text-xl text-gray-500 ml-auto"
            @click="close"
          >
            &times;
          </button>
        </div>

        <div class="overflow-auto p-5 block max-h-screen w-full">
          {{ message }}
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'IoModal',

  props: {
    title: {
      type: String,
      default: null,
    },

    message: {
      type: String,
      default: null,
    },

    isClose: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      isVisible: false,
    };
  },

  mounted() {
    this.isVisible = true;
  },

  methods: {
    close() {
      this.isVisible = false;
      this.$emit('close');
    },
  },
};
</script>

<style>
    .fade-enter-active,
    .fade-leave-active {
        transition: all 0.6s;
    }
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>
