<template>
  <transition name="fade">
    <div
      v-if="isVisible"
      class="fixed inset-0 w-full h-screen flex items-center justify-center bg-modal-700"
    >
      <div class="max-h-screen w-full max-w-sm bg-white shadow-lg rounded-lg">
        <div class="overflow-auto p-5 block max-h-screen w-full">
          {{ message }}
        </div>
        <div class="flex items-center justify-end border-t p-3">
          <div class="text-red-500 font-semibold">
            {{ title }}
          </div>

          <button
            type="button"
            class="px-4 py-2 text-white hover:text-white bg-red-600 rounded hover:bg-red-700"
            @click="onConfirm"
          >
            {{ __('Yes') }}
          </button>

          <button
            v-if="isClose"
            type="button"
            class="ml-3 px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
            @click="close"
          >
            {{ __('No') }}
          </button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'x-confirm',

  props: {
    title: {
      type: String,
      default: null,
    },

    isClose: {
      type: Boolean,
      default: true,
    },
  },

  data() {
    return {
      isVisible: false,
      callback: null,
    };
  },

  mounted() {
    window.EventBus.$on('confirmOpen', this.open);
  },

  methods: {
    close() {
      this.isVisible = false;
      this.$emit('close');
    },

    open(params) {
      this.isVisible = true;

      if (typeof params === 'object') {
        this.message = params.message;
        this.callback = params.callback;
      } else {
        this.message = params;
      }
    },

    onConfirm() {
      this.isVisible = false;

      if (typeof this.callback === 'function') {
        this.callback(this);
      }
    },
  },
};
</script>
