<template>
  <div class="w-full">
    <label
      v-if="label"
      :for="name"
      class="w-full block text-sm leading=5 text-gray-500"
    >
      {{ label }}
    </label>
    <div class="mt-1">
      <div class="relative flex items-center">
        <div class="absolute inset-y-0 left-0 pl-3 pointer-events-none">
          <slot name="before" />
        </div>

        <input
          :id="name"
          v-model="modelValue"
          :type="type"
          :name="name"
          :class="errorClass"
          :disabled="disabled"
          class="px-3 flex-1 w-full py-2 outline-none shadow-sm focus:shadow focus:border rounded border block border-gray-400"
        >

        <slot name="after" />
      </div>

      <p
        v-if="error"
        class="text-sm italic text-red-500"
      >
        {{ error }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'x-input',

  props: {
    label: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: 'text',
    },
    currentValue: {
      type: String,
      default: null,
    },
    error: {
      type: String,
      default: null,
    },
    name: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      modelValue: this.currentValue,
    };
  },

  watch: {
    modelValue(value) {
      this.$emit('input', value);
    },
  },

  mounted() {
    if (this.error) {
      this.errorClass += ' border-red-500';
    }
  },
};
</script>
